.rectangle-1 {
	width: 463px;
	height: 662px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
	background: #ffffff;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	border-radius: 20px 20px 20px 20px;
}